html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
   in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  background-color: #A2AEBB;
  /* #E7ECEF; */
  /* #A2AEBB */
  /* #313E50 */

  /* fonts
  font-family: 'Exo 2', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-family: 'Lato', sans-serif;
  font-family: 'Poppins', sans-serif; */


  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  min-height: 100vh;
  overflow: hidden;
}
.background {
  min-height: 100vh;
}

.background.space {
  background-image: url("../assets/bgspace.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  animation: fadeIn 3s;
}
.background.earth {
  background-image: url("../assets/bgearth.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  animation: fadeIn 3s;
}
.background.ocean {
  background-image: url("../assets/bgocean.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  animation: fadeIn 3s;
}



#game-title {
  font-family: 'Exo 2', sans-serif;
  font-size: 6.4rem;
  animation: fadeInDown, color-change infinite;
  animation-duration: 1.5s, 40s;
  /* animation-delay: 2s; */
  text-align: center;
  /* height: 50vmin; */
  padding: 6vmin 0 0 0;
  margin: 0 auto;
}

#start-screen {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation-duration: 1.5s;
  margin: 7vmin 0 0 0;
  /* height: 50vmin; */
}

#welcome-msg {
  text-align: center;
  font-size: 2.4rem;
}

#inputs {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  column-gap: 50px;
  margin: 25px;
}

.player-names{
  font-size: 2.1rem;
  justify-self: center;
}

input {
  font-size: 1.6rem;
  border: 0;
}

#dropdownMenuButton2 {
  /* background-color: red;  can change color */
  font-size: 1.8rem;
  width: 150px;
  margin: 0 0 25px 0;
}

.dropdown-menu {
  /* background-color: red; */
  font-size: 1.4rem;
  width: 150px;
}

#play-btn {
  /* background-color: red; */
  font-size: 2.0rem;
  width: 100px;
}

/* #play-btn:hover {
  background-color: darkgreen;
  font-size: 2.0rem;
  width: 12vmin;
} */

@keyframes color-change {
  0% {
    color: darkblue;
  }
  10% {
    color: #8e44ad;
  }
  20% {
    color: #1abc9c;
  }
  30% {
    color: #d35400;
  }
  40% {
    color: pink;
  }
  50% {
    color: #34495e;
  }
  60% {
    color: blue;
  }
  70% {
    color: #2980b9;
  }
  80% {
    color: #f1c40f;
  }
  90% {
    color: #2980b9;
  }
  100% {
    color: darkblue;
  }
}

div#play-screen {
  animation-duration: 1.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

#btns {
  /* background-color: red; */
  margin: 15px 0 15px 0;
  display: flex;
  gap: 25px;
}

#start-menu-btn {
  background-color: darkblue;
  border: 3px solid white;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  width: 125px;
  
}

#reset-btn {
  background-color: darkred;
  border: 3px solid white;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  width: 125px;
}

h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  width: 215px;
  height: 30px;
  margin: 10px;
  border: 3px solid white;
  border-radius: 30px;
  font-family: 'Lato', sans-serif;
  font-size: 1.8rem;
}

section#game-board {
  display: grid;
  grid-template-rows: repeat(8, 7vmin);
  grid-template-columns: repeat(8, 7vmin);
  grid-gap: 0vmin;
  border: 15px solid rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 1);
}

div.square {
  border: 1px solid black;
  background-color: rgba(100, 100, 100, 0.5);
  display: grid;
}

div#white {
  background-color: rgba(255, 255, 255, 0.8);
}

div.one-piece {
  border-radius: 50%;
  border: 3px solid black;
  background-color: rgba(50, 50, 50, 1);
  height: 90%;
  width: 90%;
  justify-self: center;
  align-self: center;
  /* text-align: center; */
}

div.two-piece {
  border-radius: 50%;
  border: 3px solid black;
  background-color: darkred;
  height: 90%;
  width: 90%;
  justify-self: center;
  align-self: center;
  /* text-align: center; */
}

div.one-king {
  border-radius: 50%;
  border: 3px solid black;
  background-color: lightgray;
  background-image: url("../assets/crown.png");
  background-position: center;
  background-size: 90%;
  background-repeat: no-repeat;
  height: 90%;
  width: 90%;
  justify-self: center;
  align-self: center;
  /* text-align: center; */
}

div.two-king {
  border-radius: 50%;
  border: 3px solid black;
  background-color: #BD6B73;
  background-image: url("../assets/crown.png");
  background-position: center;
  background-size: 90%;
  background-repeat: no-repeat;
  height: 90%;
  width: 90%;
  justify-self: center;
  align-self: center;
  /* text-align: center; */
}

div.one-piece.space {
  background: 
  url("../assets/sun.png")
  center / 110%;
}
div.one-king.space {
  background-image: url("../assets/crown.png"), url("../assets/sun.png") ;
  background-position: center, center;
  background-size: 90%, 110%;
  background-repeat: no-repeat, no-repeat;
}
div.two-piece.space {
  background: 
  url("../assets/moon.png")
  center / 100%;
}
div.two-king.space {
  background-image: url("../assets/crown.png"), url("../assets/moon.png") ;
  background-position: center, center;
  background-size: 90%, 110%;
  background-repeat: no-repeat, no-repeat;
}

div.one-piece.earth {
  background: 
  url("../assets/earth.png")
  center / 100%;
}
div.one-king.earth {
  background-image: url("../assets/crown.png"), url("../assets/earth.png") ;
  background-position: center, center;
  background-size: 90%, 110%;
  background-repeat: no-repeat, no-repeat;
}
div.two-piece.earth {
  background: 
  url("../assets/redearth.png")
  center / 100%;
}
div.two-king.earth {
  background-image: url("../assets/whitecrown.png"), url("../assets/redearth.png") ;
  background-position: center, center;
  background-size: 90%, 110%;
  background-repeat: no-repeat, no-repeat;
}

div.one-piece.ocean {
  background: 
  url("../assets/sbob.png")
  center / 100%;
}
div.one-king.ocean {
  background-image: url("../assets/crown.png"), url("../assets/sbobnew.png") ;
  background-position: top, bottom;
  background-size: 50%,100%;
  background-repeat: no-repeat, no-repeat;
}
div.two-piece.ocean {
  background: 
  url("../assets/pstar.png")
  center / 130%;
}
div.two-king.ocean {
  background-image: url("../assets/whitecrown.png"), url("../assets/pstarnew.png") ;
  background-position: right, top;
  background-size: 40%, 100%;
  background-repeat: no-repeat, no-repeat;
}

div.highlight1 {
  box-shadow: inset 0 0 5px 2px red;
}

div.highlight-1 {
  box-shadow: inset 0 0 5px 2px blue;
}

div.jumpable1 {
  box-shadow: inset 0 0 5px 5px #F45B69;
}

div.jumpable-1 {
  box-shadow: inset 0 0 5px 5px #3AAED8;
}
