html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
   in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
  --animate-duration: 1s;
}

body {
  background-color: #E7ECEF;
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  min-height: 100vh;
}

div.space {
  background-image: url(../assets/space.jpeg);
}

body.earth {
  background-image: url(../assets/earth.jpeg);
}

#game-title {
  animation-delay: 0.3s;
  animation-duration: 0.8s;
  text-align: center;
}

#start-screen {
  display: flex;
  flex-direction: column;

}

div#play-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section#game-board {
  /* visibility: hidden; */
  display: grid;
  grid-template-rows: repeat(8, 7vmin);
  grid-template-columns: repeat(8, 7vmin);
  grid-gap: 0vmin;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  border: 5px solid white;
}

div.square {
  border: 1px solid black;
  font-size: 2vmin;
  background-color:rgb(194, 194, 194);
  display: grid;
}

div#white {
  background-color: white;
}

div.one-piece {
  border-radius: 50%;
  border: 2px solid blue;
  background-color: orange;
  /* box-shadow: 10px; */
  height: 90%;
  width: 90%;
  justify-self: center;
  align-self: center;
  text-align: center;
}
div.one-king {
  border-radius: 50%;
  border: 2px solid red;
  background-color: wheat;
  /* box-shadow: 10px; */
  height: 90%;
  width: 90%;
  justify-self: center;
  align-self: center;
  text-align: center;
}

div.two-piece {
  border-radius: 50%;
  border: 2px solid magenta;
  background-color: lightgreen;
  /* box-shadow: 10px; */
  height: 90%;
  width: 90%;
  justify-self: center;
  align-self: center;
  text-align: center;
}
div.two-king {
  border-radius: 50%;
  border: 2px solid green;
  background-color:yellow;
  /* box-shadow: 10px; */
  height: 90%;
  width: 90%;
  justify-self: center;
  align-self: center;
  text-align: center;
}

div.highlight1 {
  border: 4px solid red;
}

div.highlight-1 {
  border: 4px solid blue;
}

div.jumpable1 {
  border: 4px solid lightcoral;
}

div.jumpable-1 {
  border: 4px solid lightseagreen;
  /* background-color: gray; */
}

#btns {
  display: flex;
}